 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header"><a ui-sref="home"><img id="logo" src="image/logo_fan.png"></a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav my-nav-bar">       
            <li role="presentation"><a ui-sref="todo">Todo App</a></li>
            <li role="presentation"><a href="#">Something Else</a></li>
            <li role="presentation"><a ui-sref="home">About Me</a></li>
        </ul>
    </div>
</nav>